<div class="navbar">
    <div class="logo">MC Burguer</div>
    <div>
        <a (click)="goInicio()">Início</a>
        <a (click)="goCarrinho()">Carrinho</a>
    </div>
</div>

<div class="cart-container">
    <h2><i class="fas fa-shopping-cart"></i>Carrinho</h2>
    <div class="cart-item"> <!-- ngfor nesse cart-item -->
        <div class="item-details">
            <h3>X Simples</h3>
            <p>Pão, Hamburguer, Queijo, Alface, Tomate, Batata Palha</p>
        </div>
        <h3 class="item-price">R$ 20,00</h3>
        <div class="item-quantity">
            <i class="fas fa-plus"></i>
            <span>{{ 2 }}</span>
            <i class="fas fa-minus"></i>
        </div>
        <button class="btn-excluir"><i class="fas fa-x"></i></button>
    </div>
    <div class="cart-item">
        <div class="item-details">
            <h3>X Salada</h3>
            <p>Pão, Hamburguer, Queijo, Alface, Tomate, Batata Palha</p>
        </div>
        <h3 class="item-price">R$ 20,00</h3>
        <div class="item-quantity">
            <i class="fas fa-plus"></i>
            <span>{{ 2 }}</span>
            <i class="fas fa-minus"></i>
        </div>
        <button class="btn-excluir"><i class="fas fa-x"></i></button>
    </div>
    <div class="cart-item">
        <div class="item-details">
            <h3>X Bacon</h3>
            <p>Pão, Hamburguer, Queijo, Alface, Tomate, Batata Palha</p>
        </div>
        <h3 class="item-price">R$ 20,00</h3>
        <div class="item-quantity">
            <i class="fas fa-plus"></i>
            <span>{{ 2 }}</span>
            <i class="fas fa-minus"></i>
        </div>
        <button class="btn-excluir"><i class="fas fa-x"></i></button>
    </div>
</div>

<div class="cart-container finalizar">
    <div class="cart-total">
        <h3>Total: R$ 60,00</h3>
    </div>
    <button class="btn-finalizar">Finalizar</button>
</div>