<!-- component for navbar ? -->
<div class="navbar">
    <div class="logo">MC Burguer</div>
    <div>
        <a (click)="goInicio()">Início</a>
        <a (click)="goCarrinho()">Carrinho</a>
    </div>
</div>

<div class="menu-container">
    <div class="menu-item" *ngFor="let item of produtos; let i = index">
        <div class="product-info">
            <img src="assets/img/imgFundo01.png" alt="{{ item.titulo }}">
            <span class="product-name">{{ item.titulo }}</span>
            <span class="product-desc">{{ item.descricao }}</span>
            <span class="product-price">{{ item.valor }},00</span>
            <button class="btn-carrinho" (click)="addItem(item.id)">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>